<app-home></app-home>

<div class="row">
  <div col="col-md-6">
      <form class="center">
          <div class="form-group">
              <input type="text" ><br />
          </div>
          <div class="form-group">
              <input  type="file" name="profile" >
          </div>
          <div class="form-group">
              <button mat-flat-button color="primary" type="submit" class="btn btn-success" >Upload</button>
          </div>
          <!-- <div class="form-group">
              <button mat-flat-button color="secondary" type="submit" class="btn btn-success" (click)="onRefresh()" 
              style="margin-left: 10px;" >Refresh</button> 
          </div> -->
      </form>
  </div>
</div>

<div class="row">
  <div col="col-md-6">
    <table class="table table-striped center">
      <thead>
      <tr>
        <th> Job Description </th>
        <th> Action </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of elements ">
        <!-- <td>{{ element.jd }}</td>
        <td><mat-icon>eco</mat-icon></td> -->
      </tr>
      </tbody>
    </table>
  </div>



<!--<div style="margin-bottom: 30px; text-align: center;">
    <input class="ng-hide" id="input-file-id" multiple type="file" />
    <button mat-flat-button color="primary" type="submit">Upload a JD</button>
</div> -->
